In [39]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('campeonato-brasileiro-full.csv')

In [42]:
df.head()

,Horário,Dia,Data,Clube 1,Clube 2,Vencedor,Rodada,Arena,Clube 1 Gols,Clube 2 Gols,Clube 1 Estado,Clube 2 Estado,Estado Clube Vencedor
0,16h00,Sábado,2000-07-29,Fluminense,Bahia,Fluminense,1ª Rodada,Maracanã,2,0,RJ,BA,RJ
1,16h00,Sábado,2000-07-29,Vasco,Sport,Sport,1ª Rodada,São Januário,0,2,RJ,PE,PE
2,16h00,Sábado,2000-07-29,Vitória,Palmeiras,Vitória,1ª Rodada,Barradão,4,1,ES,SP,ES
3,17h00,Domingo,2000-07-30,Botafogo-RJ,Atlético-MG,-,1ª Rodada,Caio Martins,0,0,RJ,MG,Empate
4,18h30,Domingo,2000-07-30,Juventude,Flamengo,-,1ª Rodada,Alfredo Jaconi,1,1,RS,RJ,Empate

In [43]:
df.loc[310]

Horário                         17h00
Dia                           Domingo
Data                       2000-11-26
Clube 1                      CRUZEIRO
Clube 2                      MALUTROM
Vencedor                            -
Rodada                   SEGUNDA FASE
Arena                        Mineirão
Clube 1 Gols                        1
Clube 2 Gols                        1
Clube 1 Estado                     MG
Clube 2 Estado                     PR
Estado Clube Vencedor          Empate
Name: 310, dtype: object

In [44]:
df.loc[310][['Clube 1','Clube 2']]

Clube 1    CRUZEIRO
Clube 2    MALUTROM
Name: 310, dtype: object

In [45]:
df.loc[310]['Data']

'2000-11-26'

In [46]:
df['Total de gols'] = df['Clube 1 Gols'] + df['Clube 2 Gols']

In [49]:
df['Total de gols'].sum()

21033

In [52]:
df['Horário'].value_counts()

16h00    1804
20h30     683
18h30     643
18h10     506
16:00     440
19h30     351
17h00     351
18h00     306
21h00     267
19:00     243
21:00     207
17:00     174
19:30     159
21h50     144
20:00     142
18:30     132
22h00     130
21h45     119
11:00      96
21:45      76
18h20      59
18:00      52
21h40      49
20:30      45
16h        39
15h00      37
11h00      34
19h00      29
21:30      28
21:50      27
22:00      22
16h20      21
19:15      21
14h30      17
15h45      17
18h        14
17h        13
19h10      12
16h10      12
22:30      10
16:30       8
21h30       7
15h30       6
16:20       5
20h00       4
22h         3
20:15       3
16:15       3
22:50       3
17:30       2
16h30       2
15:00       1
21h10       1
21:46       1
22h30       1
09h00       1
Name: Horário, dtype: int64

In [53]:
df['Dia'].value_counts()

Domingo          3673
Sábado           1833
Quarta-feira     1559
Quinta-feira      657
Segunda-feira     108
Terça-feira        85
Sexta-feira        24
Name: Dia, dtype: int64

In [55]:
df['Clube 1'] = df['Clube 1'].str.upper()

In [61]:
df[df['Vencedor'] == '-']['Clube 1'].value_counts().head(1)

FLUMINENSE    101
Name: Clube 1, dtype: int64

In [62]:
df['Clube 2'] = df['Clube 2'].str.upper()

In [63]:
df[df['Vencedor'] == '-']['Clube 2'].value_counts().head(1)

CORINTHIANS    106
Name: Clube 2, dtype: int64

In [64]:
por_clube1 = df.groupby('Clube 1')

In [71]:
por_clube1['Clube 1 Gols'].sum().sort_values(ascending = False).head(1)

Clube 1
SANTOS    701
Name: Clube 1 Gols, dtype: int64

In [72]:
df['Ano'] = df['Data'].apply(lambda data : data.split('-')[0])

In [73]:
df['Ano']

0       2000
1       2000
2       2000
3       2000
4       2000
        ...
7934    2019
7935    2019
7936    2019
7937    2019
7938    2019
Name: Ano, Length: 7939, dtype: object

In [74]:
df[(df['Vencedor'] == '-')&(df['Ano'] == '2019')]['Clube 1'].value_counts()

AVAÍ             9
CRUZEIRO         8
BAHIA            8
CORINTHIANS      7
FLUMINENSE       7
CEARÁ            6
INTERNACIONAL    6
SÃO PAULO        6
VASCO            6
CSA              5
CHAPECOENSE      5
SANTOS           4
PALMEIRAS        4
GOIÁS            3
ATHLÉTICO-PR     3
GRÊMIO           3
ATLÉTICO-MG      2
FLAMENGO         2
FORTALEZA        2
BOTAFOGO-RJ      2
Name: Clube 1, dtype: int64